body {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 300px;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(145, 59, 59, 0.25) 0px 54px 55px,
    rgba(183, 37, 37, 0.12) 0px -12px 30px, rgba(185, 46, 46, 0.12) 0px 4px 6px,
    rgba(161, 33, 33, 0.17) 0px 12px 13px, rgba(186, 30, 30, 0.09) 0px -3px 5px;
  width: 50vw;
}

#toDoList {
  font-size: 29px;
  margin-top: 30px;
  list-style-type: none;
}

#toDoList li button {
  margin-left: 15px;
}
